.header-5 {
  box-sizing: border-box;
  width: 100%;
  position:fixed;
  top:0px;
  background-color: #f5c500;
}


.header-inner {
  display: flex;
  align-items: center;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
  justify-content: space-around;

}

.header-nav-list {
  display: inline-block;
}

.header-nav-item {
  float: left;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(119, 121, 121);
  text-align: center;
  list-style: none;
  transition: 1s;
}

.header-nav-item a {
  display: block;
  text-decoration: none;
  transition: 0.5s;
}

.header-ham {
  display: none;
}


.header-nav-item:hover {
  background: #eee;
  color: #2a2b2f;
}

.header-nav-item a:hover {
  text-decoration: none;
  background-color: inherit;
  color: #2a2b2f;
}

.logo a:hover {
  text-decoration: none;
  background-color: inherit;
}

@media screen and (max-width: 480px) {
  .header-nav-list {
    display: none;
  }

  .header-nav {
    margin: 0 0 0 auto;
  }

  .header-ham {
    display: block;
  }
}

.title {
text-decoration: none;
}