.header-5 {
  box-sizing: border-box;
  width: 100%;
  position:fixed;
  top:0px;
  background-color: #f5c500;
}


.header-inner {
  display: flex;
  align-items: center;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
  justify-content: space-between;

}

.header-nav-list {
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
}

.header-nav-item {
  float: left;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(119, 121, 121);
  text-align: center;
  list-style: none;
  transition: 1s;
}

.header-nav-item a {
  display: block;
  text-decoration: none;
  transition: 0.5s;
}

.header-ham {
  display: none;
}


.header-nav-item:hover {
  background: #eee;
  color: #2a2b2f;
}

.header-nav-item a:hover {
  text-decoration: none;
  background-color: inherit;
  color: #2a2b2f;
}

.logo a:hover {
  text-decoration: none;
  background-color: inherit;
}

@media screen and (max-width: 480px) {
  .header-nav-list {
    display: none;
  }

  .header-nav {
    margin: 0 0 0 auto;
  }

  .header-ham {
    display: block;
  }
}

.title {
text-decoration: none;
}

/* Font Awesomeを使用しています。*/
.form2 {
  position: relative;
}

.form2-input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 10px 0 34px;
  margin: 5px 0;
  font-size: 1em;
  color: #333;
  border: solid 1px #ccc;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
  -webkit-appearance: none;
}

.form2-input:focus {
  border: 1px solid #00b5ad;
}

.form2-button {
  position: absolute;
  top: 0;
  left: 2px;
  box-sizing: content-box;
  width: 30px;
  height: 40px;
  padding: 0;
  vertical-align: vertical-align;
  pointer-events: none;
  background: inherit;
  border: 0;
  opacity: 0.54;
}