.post ul {
  display: flex;
}

.post li {
  display: block;
  flex-direction: column;
  border-radius: 10px;
  top: 100px;
  left: 400px;
  width: 400px;
  max-height: 400px;
  height: 400px;
  box-shadow: 10px 10px 10px #2a2b2f;
  background-color: #fff;
  text-align: center;
}

.post li a {
  text-align: center;
  color: #2b2f2a;
  text-decoration: none;
}

.body-make-img {
  width: 400px;
  border-radius: 8px;
  height: 290px;
  object-fit: cover;
}

.meal-record-img {
  width: 400px;
  border-radius: 8px;
  height: 290px;
  object-fit: cover;
}